<html>

	<head>
		<title>Hayley and Harrison <3</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
	</head>
	<body>
<!-- 		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="pencil alternate icon"></i>Hayley and Harrison Site</div>
				<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
			</div>
		</div>-->

 		<div class="ui violet three item inverted menu">
		  <a class="active item">
		    Home
		  </a>
		  <a class="item">
		    Photos
		  </a>
		  <a class="item">
		    Important Dates
		  </a>
		</div> 