<style>
	body {
		background: #FC466B;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	h1 {
		padding-top: 50px;
		padding-left: 650px;
	}

	form {
		padding-left: 550px;
	}
</style>

<h1>Login</h1>

<form action="/login" method=POST>
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>Login</button>
<form>